.clash-title{
font-size: 70px;
margin-top: 120px;
text-align: center;
color: darkgray;
}

.clash-box{
  width: 30%;
  float: left;
  margin-top: 50px;
  margin-left: 175px;
}
.clash-box ul li {
  padding-left: 20px;
  padding-right: 20px;
}

.title{
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
}

.cards-box{
  height: 50vh;
  background-color: peru;
  color: black;
  overflow: auto;
}

.arena-box{
  height: 50vh;
  background-color: darkgray;
  color: black;
  overflow: auto;
}
