.starwars-title{
font-size: 70px;
margin-top: 90px;
text-align: center;
color: darkgray;
}

.info-box{
  width: 30%;
  float: left;
  margin-top: 50px;
  margin-left: 32px;
}

.title{
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
}

.spaceships{
  height: 50vh;
  background-color: peru;
  color: black;
  overflow: auto;
}

.people{
  height: 50vh;
  background-color: darkgray;
  color: black;
  overflow: auto;
}

.planets{
  height: 50vh;
  background-color: papayawhip;
  color: black;
  overflow: auto;
}
